Add guidance for deprecation

In working with service teams, we need to add a way for them to indicate an API or part of their service has been deprecated. The API case is quite straightforward. However the "part of the service" is referring to cognitive services where they may deprecate a model. 

We are looking at [draft deprecation header](https://datatracker.ietf.org/doc/html/draft-ietf-httpapi-deprecation-header) and 
[sunset header](https://www.rfc-editor.org/rfc/rfc8594) as prior art.

Current proposal is:
> "azure-deprecating": "<description>; <date>; <url>" 

Header: `azure-deprecating`
Value: string.
The value string should be a semi-colon delimited list that contains the following:
`description`: a human readable description of what is being deprecated
`date`: the target date that this will be deprecated. This should be expressed following the format in [RFC7231, Section 7.1.1.1](https://datatracker.ietf.org/doc/html/rfc7231#section-7.1.1.1), e.g. "Sun, 06 Nov 1994 08:49:37 GMT".
`url`: a fully qualified url that the user can follow to learn more about what is being deprecated.



@markweitzel -- I spoke with Darrel Miller of the Graph team this morning. We discussed the deprecation header, sunset header, and on going work around the "lifecycle" header. While we should complete the due diligence, at first pass, what is proposed in the ietf may be too complicated. 

It is definitely recommended that we prefix with `azure-`

I think this is a valuable topic as I have to upload API deprecations every now and then on my OSS project (https://github.com/azure-deprecation/dashboard). Here are the currently deprecated API endpoints that I know off/we have announced: https://github.com/azure-deprecation/dashboard/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Aarea%3Aapi-endpoint

I wonder, though, if we should use one header for all the information or use something similar to:
- `azure-api-deprecation-by: Sun, 06 Nov 1994 08:49:37 GMT`
- `azure-api-deprecation-reason: <a human readable description of what is being deprecated>`
- `azure-api-deprecation-more-info: <URL>`

(with or without the `api-`, was just a thought`)

We should work with the deprecation team to see what they think as they tend to have requirements on telemetry of API usage, etc, so we could see how we can help more than just a header.

Another area we should look at is providing a single-pane of glass of all currently deprecated APIs so customers can assess impact better/design around them when starting to build their products. This, again, can be in conjunction with the deprecation team as I think this is a broader pain than just APIs.

@tomkerkhove : You have to give a reason why you are proposing the 3 headers and state explicitly how you think this might be used by customer/client code. Right now, our thinking is that there is nothing a program could do by examining these header(s) and the header information MUST be acted upon by a person. Deprecations mean that a breaking change is happening requiring a programmer to fix their code. So, based on this thinking, I don't see how additional headers help. 

In addition, there could be multiple deprecations being returned simultaneously. For example, the api-version is being retired, TLS 1.1 is being retired, a cognitive model being used by an api is being retired. The service needs a way to report all of these and so your proposal would require 3 headers per deprecation and a way to make the headers unique. 

Our proposal is trying to just be simple for service teams, customers, SDKs, and tools with 1 simple header with 1 human-readable string value (semicolon delimited for each deprecation). So, minimal downside and potential high upside for any developer/devops (log, observations) to get a clue that something is going to break if not acted upon in some timeframe.

Right now, the single pane of glass you refer to for deprecations (and other announcements) exists [here](https://azure.microsoft.com/en-us/updates/).

I will reply to the other content tomorrow but wanted to reply to this:

> Right now, the single pane of glass you refer to for deprecations (and other announcements) exists [here](https://azure.microsoft.com/en-us/updates/).

This is not a single pane of glass given it is a stream of updates. It does not provide an easy overview of all open depreciations (for a service) that I can filter on my behalf. The repo above is a single pane of glass though (blog.tomkerkhove.be has some posts on how to use it at best) 



> @tomkerkhove Tom Kerkhove FTE : You have to give a reason why you are proposing the 3 headers and state explicitly how you think this might be used by customer/client code. Right now, our thinking is that there is nothing a program could do by examining these header(s) and the header information MUST be acted upon by a person. Deprecations mean that a breaking change is happening requiring a programmer to fix their code. So, based on this thinking, I don't see how additional headers help.

The reason why I was considering separate headers is that telemetry pipelines might more properly handle them by storing them in separate columns (ie Application Insights/Log Analtyics) nor do end-users need to parse the header values to know what is going on, but I don't have a strong opinion on this.

> In addition, there could be multiple deprecations being returned simultaneously. For example, the api-version is being retired, TLS 1.1 is being retired, a cognitive model being used by an api is being retired. The service needs a way to report all of these and so your proposal would require 3 headers per deprecation and a way to make the headers unique.

I did not think of this, good thinking.



See PR #387 for first stab at official Azure guidelines

Merged in #387 

Wonderful!