Date Headers

Two issues:

1. `Date` is listed as both a standard request and response header (7.5/7.6), but this is typically found only as a response header.  The HTTP spec ([RFC 7231 § 7.1.1.2](https://tools.ietf.org/html/rfc7231#section-7.1.1.2)) states:

  > A user agent MAY send a Date header field in a request, though generally will not do so unless it is believed to convey useful information to the server.  For example, custom applications of HTTP might convey a Date if the server is expected to adjust its interpretation of the user's request based on differences between the user agent and server clocks.

2. In both places, the description says that the `Date` header is in RFC 3339 format, which is incorrect.  Unfortunately, the HTTP spec doesn't use RFC 3339.  It uses the older format found in [RFC 5322 § 3.3](https://tools.ietf.org/html/rfc5322#section-3.3)  (previously listed under RFC 2822 and RFC 822)

  Example:

      Date:Wed, 03 Aug 2016 20:54:19 GMT

Let me know if you'd like a PR for this.  Thanks.


I would love a PR for this. Thanks. 

re: issue 1.  I like the idea of recommending that a Date be sent in request header.  Adding a piece of client side middleware to add the header is fairly trivial and non-intrusive to application code.  Having the time the request header is sent is a useful piece of diagnostic information when performance troubleshooting.

@darrelmiller It doesn't really help with diagnosing performance, because the request timestamp is generated client-side, based on the client's clock.  Even if clocks are regularly updated from NTP sources, there's still an expected deviation due to clock strata, drift, latency, etc.  And of course, there's no guarantee the clocks are synchronized at all, which could mean large differences, or even that the response time appears to have occurred before the request!

All that it can really be used for is a way to get a rough estimate of the current delta between client and server, not accounting for latency of communication.  Basically, poor-man's SNTP.